<footer>
    <div id="footer-container2">
        <section>
            <div id="complejos">
                <div class="div-ubi">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="div-dire">
                    <p>COMPLEJO COSTA SALGUERO</p>
                    <h5>Av. Costanera Rafael Obligado 1221, CP1425 CABA</h5>
                </div>
            </div>
        </section>
        <br>
        <section>
            <div id="complejos">
                <div class="div-ubi">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="div-dire">
                    <p>COMPLEJO DOT BAIRES SHOPPING</p>
                    <h5>Vedia 3600, CP1430 CABA</h5>
                </div>
            </div>
        </section>
        <br>
        <section>
            <div id="complejos">
                <div class="div-ubi">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="div-dire">
                    <p>COMPLEJO UNICENTER</p>
                    <h5>Paraná 3745, CP1640, Martinez, Buenos Aires</h5>
                </div>
            </div>
        </section>
        <br>
        <section>
            <div id="complejos">
                <div class="div-ubi">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="div-dire">
                    <p>COMPLEJO AV. CORRIENTES</p>
                    <h5>Av. Corrientes 1428, CP1042, CABA</h5>
                </div>
            </div>
        </section>
    </div>
    <div id="footer-container">

        <img id="footer-logo" src="\Images\logo-1.png" alt="">

        <div id="footer-container3">
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
    </div>
    <div id="cierre">
        <p id="p">©Cinema Paradiso</p>
        <p id="p">Grupo_8_Cine </p>
    </div>
</footer>