<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>


<body>
    <header class ="header-carrito">
        <div id="contenedor">
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
        <div id="nav">
            <img id="logo" src="\Images\logo-1.png" alt="">
            <i class="fas fa-bars"></i>
            <div id="contenedor4">
                <i class="far fa-user-circle"></i>
                <i class="fas fa-search"></i>
            </div>
        </div>
        </div>
        <div class="barrita-de-estado">
            <p>1. TIKETS</p>
            <P>2. DATOS</P>
            <P>3. PAGOS</P>

        </div>
    </header>
    <main>
        <div class="carrito1">
            <article class="minitura-imagen-pelicula">
                <img src="Images/pelicula-1.jpg" width="100%" height="250" alt="pelicula-1">
            </article>

            <article class="contenedor-miniatura-informacion">


                <p class="titulo-miniatura-carrito">RIO MISTICO</p>
                <p class="fecha-miniatura-carrito">dd/mm/aaaa</p>
                <p class="direccion-minitura-carrito">NOMBRE Y DIRECCION DEL COMPLEJO</p>
                <p class="idioma-minitura-carrito">IDIOMA:INGLES SUBTITULADO</p>
                <p class="genero-minitura-carrito"> GENERO: Crimen/Misterio</p>
                <p class="censura-minitura-carrito">ATP</p>
                <p class="duracion-minitura-carrito"> DURACION: 2h 17m</p>
            </article>


        </div>




        <article class="cuadrilla">
            <div class="primeraLinea">
                <p>TIPO </p>
                <p>PRECIO </p>
                <p>ENTRADAS </p>
                <p>TOTAL </p>
            </div>
            <div class="categoria1">
                <p>GENERAL </p>
                <p>$500 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
            <div class="categoria2">
                <p>2X1 CLUB LA NACION </p>
                <p>$500 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
            <div class="categoria3">
                <p>30% OFF SANTANDER </p>
                <p>$375 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
            <div class="categoria4">
                <p>50% OFF MACRO </p>
                <p>$250 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
            <div class="categoria5">
                <p>2X1 CLUB PERSONAL </p>
                <p>$500 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
            <div class="categoria6">
                <p>30% OFF NACION </p>
                <p>$375 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
            <div class="categoria7">
                <p>50% OFF CIUDAD </p>
                <p>$250 </p>
                <select name="cantidad" id="cantidad">
                    <option value="OPCION-1" selected>0</option>
                    <option value="pelicula-1">1</option>
                    <option value="pelicula-2">2</option>
                    <option value="pelicula-3">3</option>
                    <option value="pelicula-4">4</option>
                    <option value="pelicula-5">5</option>
                    <option value="pelicula-6">6</option>
                    <option value="pelicula-7">7</option>
                    <option value="pelicula-8">8</option>
                    <option value="pelicula-9">9</option>
                    <option value="pelicula-10">10</option>

                </select>
                <p>$000,00 </p>
            </div>
        </article>

        <div class="lateral">
            <article class="carrito-miniatura">
                <p class="tus-compras">TUS COMPRAS</p>
                <p class="fecha-miniatura-carrito">dd/mm/aaaa</p>
                <p class="direccion-minitura-carrito">NOMBRE Y DIRECCION DEL COMPLEJO</p>
                <p class="idioma-minitura-carrito">IDIOMA:INGLES SUBTITULADO</p>
                <p class="genero-minitura-carrito"> GENERO: Crimen/Misterio</p>
                <p class="censura-minitura-carrito">ATP</p>
                <p class="duracion-minitura-carrito"> DURACION: 2h 17m</p>
                <div class="boton-ir-a-pagar">
                    <button type="button">IR A PAGAR</button>
                </div>
            </article>

            <article class="datos-de-complejo">
                <p class="nombrecomplejo">COMPLEJO</p>
                <div class="fotocomplejo">
                    <img src="Images/mapa.jpeg" width="70" height="175" alt="mapa">
                </div>
                <p class="callecomplejo"> NOMBRE DE LA CALLE 9999</p>

            </article>
        </div>

    </main>
    <%- include ('../partials/footer')%>
</body>

</html>