<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head')%>


<body>
    <%-include ('./partials/header')%>
    <main>
        <p id="titulo">DETALLE DE LA PELICULA</p>
        <div class="contenedor-detalle-1">
            <div class="contenedor-detalle-2">
            
                <img class="peliculas" src="\Images\pelicula-1.jpg" alt="">
            </div>
            <div class="contenedor-detalle-3"> 
                    <h2>RIO MISTICO</h2>
                          
                                    
                <ul>
                    <li><strong>Título original:</strong> Mystic River </li>   
                    <li><strong>Orígen:</strong> USA </li>
                    <li><strong>Género:</strong> drama/policial </li>
                    <li><strong>Director:</strong> Clint Eastwood </li>
                    <li><strong>Actores:</strong> Sean Penn, Tim Robbins, Kevin Bacon, Laura Linney </li>
                    <li><strong>Calificación:</strong> SAM 13 C/R</li>
                    <li><strong>Duración:</strong> 137 minutos </li>
            

                </ul>
            
            </div>     
            <div class="contenedor-detalle-4">  
                <div class="sinopsis">
                    <strong> Sinopsis:</strong> Los viejos amigos de la infancia Jimmy, Sean y Dave se reencuentran 
                    de adultos tras el asesinato de la hija de uno de ellos. Las rencillas del pasado envenenan la
                    investigación que, de forma paralela a la policía, llevan para hallar al asesino.
                </div>  
                <div>
                <button class="boton-detalle" type="submit">Comprar entrada</button>
                </div>
            </div>
            
        </div>

       
          
            
        

                </article>
            </div>

    </main>
    <%- include ('./partials/footer')%>
</body>

</html>