<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head')%>


<body class="body2">
    <span class="header-registro"><%-include ('./partials/header')%></span>
    <div>
        <img id="logo-registro" src="\Images\logo-1.png" alt="">

    </div>
    <form action="" method="POST" id=form-login>
        <div class="form">

            <h1>INGRESAR</h1>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Email</label>
            </div>

            <div class="grupo">
                <input type="Password" name="" id="name" required><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>
           
            <div class= botones>
                <button class="button2" type="submit">Ingresar</button>
                <button class="button2" type="submit">Cancelar</button>
                </div>   
        </div>

    </form>

    <span class="footer-registro"><%-include ('./partials/footer')%></span>
    

</body>


</html>