<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head')%>


<body>
    <div>
        <img id="logo" src="\Images\logo-1.png" alt="">

    </div>
    <form action="" method="POST" id=form>
        <div class="form">

            <h1>REGISTRO</h1>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div>
            <div class="grupo">
                <input type="email" name="" id="name" required><span class="barra"></span>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <input type="Password" name="" id="name" required><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>
            <button type="submit">Suscribirte</button>

        </div>


    </form>
</body>

</html>