* {
    margin: 0 auto;
    font-family: "Noto Sans JP";
    /* border: 1px grey solid; */
    box-sizing: border-box;
}

*,
::before
::after{
margin:0;
padding: 0;
box-sizing: border-box;

}

/* ----------------------------------------------------------- */

/* body */

body {
    background-color: black;
    width:90vw;
}

/* ------------------------registro y login body-------------------------- */

.body2 {

    font-family: "Noto Sans JP" ;
    color:grey;
    background-color: black;
    height: 740px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.body3 {

    font-family: "Noto Sans JP" ;
    color:grey;
    background-color: black;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* ----------------------------------------------------------- */

/* header */

header {
    height: 21.5rem;
    background-color: black;
    width:90vw;
    margin: 0 auto;
 }
 
.fa-instagram-square {
    color: white;
    font-size: 1.5rem;
    margin:0.2rem;
    text-align: right;
}

.fa-facebook-square {
    color: white;
    font-size: 1.5rem;
    margin:0.2rem;
    text-align: right;  
}

.fa-twitter-square {
    color: white;
   font-size: 1.5rem;
   margin:0.2rem;
}

#contenedor {
    display:flex;
    justify-content: flex-end;
    margin:0.1rem;
    background-color: #10acc7b7;
}

#nav {
    background-color: black;
    height: 5.5rem;
    text-align: left;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

.nav2 {
    color:rgba(255, 255, 255, 0.527);
    display:none;
    font-size: 80%;
    border-top: solid rgba(255, 255, 255, 0.527) 8px;
}


#logo {
    width: 33%;
    height: 85%;
    background-color: black;
    margin:0 auto;  
    box-sizing: border-box; 
    flex-grow: 1; 
}

#logo-registro {
    width: 100%;
    display:none;
}

.fa-bars {
    color:whitesmoke;
    font-size: 2rem;
    background-color:black;
    border-radius:100%;
    flex-grow:1; 
    width:10%;
    text-align:center;    
}

.fa-user-circle {
    color: white;
    font-size: 1.2rem;
}

.fa-search {
    color: white;
    font-size: 1.2rem; 
}

.fa-shopping-cart {
    color: white;
    font-size: 1.2rem; 
}

#circle {
    display:flex;
    align-items: end;
}

#carrousel {
    background-color:black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#contenedor4 {
    display:flex;
    justify-content: flex-end;
    flex-grow: 1;
    width:33%;
}

#peliculas {
    color: rgba(255, 255, 255, 0.527);
    background-color:black;
    width: 90vw;
    margin:5px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 100;
}

#horarios {
    color: rgba(255, 255, 255, 0.527);
    background-color:black;
    width: 90vw;
    margin:5px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 100;
}

#centrar {
    text-align: center;
    height: 50%;
    background-color:black;
}


/* ------------------------carrito header-------------------------- */

.barrita-de-estado {
    width:100%;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #708599;
    font-size: 80%;
    align-self: center;
    border: solid #5B6DCD 2px;
  }


/* ----------------------------------------------------------- */

/* main */

/* ------------------------home main-------------------------- */

main {
    margin-top: 1.5rem;
    background-color:black;
    width: 90vw;
}

#titulo {
    color: grey;
    margin-left: 3.1rem;
    margin-bottom: 1.5rem;
    font-size:110%;
}

.peliculas {
    width:65%;
    height: 65%;
}

article {
    display: inline-block;
    margin:5px;
    width:90vw;
    text-align: center;
    background-color:black;
    margin:0 auto;
    margin-bottom: 40px;
}

h4 {
    color: white;
    text-align: center;
    font-size: 85%;
}

h3 {
    color:black;
    background-color:white;
    width: 65%;
    font-size:75%;
    text-align: center;
}

/* ------------------------detalle main-------------------------- */

#titulo-detalle {
    color: grey;
    margin-left: 0.0750rem;
    margin-bottom: 1.5rem;
    font-size:110%;
}

.contenedor-detalle-1 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
}

.contenedor-detalle-2 {
      display: flex;
      align-items: center;
      margin: 5px 0 20px 0;
}

.contenedor-detalle-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
}

/* .imagen-detalle{
    align-self: center;
} */

.contenedor-detalle-3 h2 {
      text-align:center;
      padding: 1px;
      margin-bottom: 10px;
      font-size: 85%;
      color:black;
      background-color: white;
      width: 65%;
}

.boton-detalle {
      margin: 15px auto;
      margin-bottom: 25px;
      padding: 5px;      
}

.contenedor-detalle-4 {
       display: flex;
       flex-direction: column;
       width: 80%;
       margin: 10px auto;
}
      
ul {
    /* color: white; */
    list-style-type: none;
}    

ul li {
    margin-top:7px;
    text-align: left;
    font-weight: 50;
    color: rgba(248, 237, 237, 0.712);
}   

ul strong {
       margin-right: 10px;
       color: rgba(248, 237, 237, 0.842);
       font-weight: 50;
}

.sinopsis {
    color: rgba(248, 237, 237, 0.712);
    font-weight: 100;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 5px;
    margin-right:10px;
    margin-bottom: 25px;
}

.sinopsis strong {
    color: rgba(248, 237, 237, 0.842);
}

/* ------------------------carrito main-------------------------- */

.cuadrilla {
    display: flex;
    box-sizing: border-box;
    border: solid #5B6DCD 10px;
    margin: 1px;
    background-color:grey;
    flex-direction: column;
    padding:10PX;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 60%;
    align-self: center;
    border: solid #5B6DCD 2px;
}

.carrito1 {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
 }

.contenedor-miniatura-informacion {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    border: solid #5B6DCD 5px;
    margin: 2px;
    background-color: #708599;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    justify-content: space-around;
    font-size: 60%;
    align-self: flex-start;
    height: 250px;
}
      
.censura-minitura-carrito, .duracion-minitura-carrito {
    display: block;
    align-self: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.lateral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    align-items: stretch;
    box-sizing: border-box;
}

.carrito-miniatura {
    display: flex;     
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 60%;
    width: 100%;
    align-self: center;
    padding: 20px;
    border: solid #5B6DCD 5px;
    background-color: #708599;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    justify-content: space-around; 
    box-sizing: content-box;
}

.datos-de-complejo {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column; 
    width: 100%;
    background-color: #708599;
    font-size: 60%;
    padding: 20px;
    border: solid #5B6DCD 5px;
}

main .lateral .datos-de-complejo img {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.miniatura-imagen-pelicula {
    display: flex; 
    flex-wrap: wrap;
    width:45%;
    border: solid #5B6DCD 5px;
    margin: 2px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    justify-content: space-between;
    box-sizing: border-box;
}

.primeraLinea,.categoria1,.categoria2,.categoria3,.categoria4,.categoria5,.categoria6,.categoria7 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
    width: 100%;
} 


.boton-ir-a-pagar {       
    color: red;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.fotocomplejo {
    width: 40%;
    align-items: center;
    box-sizing: border-box;
}


/* ------------------------registro y login main-------------------------- */

h1 {
    text-align: center;
    font-weight: 700;
}

#form-registro {
    background-color: white;
    padding:40px 0;
    box-shadow: 0 0 6px gold;
    border-radius: 10px;
    height: 95%;
    margin-top: 25px;
    margin-bottom: 25px;
}



#form-login {
    background-color: white;
    padding:40px 0;
    box-shadow: 0 0 6px gold;
    border-radius: 10px;
    height: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form {
    width: 100%;
    margin:auto;
}

form .grupo {
    position:relative;
    margin:45px;
}

input {
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;   
    display: block; 
    width: 100%;
    border:none;
    border-bottom: solid 1px;
}

input:focus {
    outline: none;
    color:rgb(94, 93, 93);
}

label {
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label {
    top:-14px;
    font-size: 12px;
    color:royalblue;
}

#fecha {
    top:-14px;
    font-size: 12px;
    color:royalblue;
}

#imagen1 {
    top:-14px;
    font-size: 12px;
    color:royalblue;
}

.button2 {
    font-family: "Noto Sans JP";
    border: none;
    border-radius: 15px ;
    display: block;
    width: 42%;
    margin: 10px auto;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    background-color: slategray; 
}
.botones{
    display:flex;
    flex-direction: row ;
    justify-content: space-between;
    
    
    }


/* ----------------------------------------------------------- */

/* footer */

#footer-logo {
    width:33%;
    margin:1px;
    flex-grow: 0.25;
}


footer i {
    color: white;
    background-color:black;
}

footer p {
    color: white;
    background-color:black;
    font-weight: 100;
}

footer h5 {
    color: white;
    background-color:black;
    font-weight: 50;
}

footer {
    height: 32rem;
    background-color: black;
}

#complejos {
    background-color: black;
    text-align: center;
}

footer img {
    flex-grow: 1;
}

#footer-container {
    margin-top: 2rem;
    display:flex;
    justify-content: space-between;
    flex-grow: 0.5;
    align-items:flex-end;
}

#footer-container3 {
    display:flex;
    justify-content: flex-end;
    flex-grow: 30;
    align-items: flex-end;
   
}

#cierre {
    margin-top: 15px;
    background-color:#10acc7b7;
    width:100%;
    display:flex;
    justify-content: space-between;
}

#p {
    background-color:transparent;
    color:black;
    font-weight: 300;
}


/* ----------------------------------------------------------- */

/* medias queries */

@media(min-width:768px){

#footer-container2{
    display:flex;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-start;
}

.fa-bars {
    display:none;
}

.body2 {
    font-family: "Noto Sans JP" ;
    color:grey;
    background-color: black;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body3 {

    font-family: "Noto Sans JP" ;
    color:grey;
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav2 {
    color:white;
    display:flex;
    margin-bottom: 10px;
}

.header-registro{
    display:none;
}

#logo {
    width: 12%;
    height: 100%;
    background-color: black;
    margin:0 auto;  
    box-sizing: border-box; 
    flex-grow: 1; 
}

#logo-registro{
    width: 70%;
    display: inline;
}

.contenedor1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 88vw;
}

.peliculas {
    height:20rem;
    width:12rem
}

h3, h4 {
    width:12rem;
}

.contenedor2 {
    display:content
}

.contenedor3 {
    display:content
}

.contenedor4 {
    display:content
}

.contenedor5 {
    display:content
}

.contenedor6 {
    display:content
}

.contenedor7 {
    display:content
}

header {
    width:60vw;
    height: 100%;
}

#nav {
    width:60vw;
    height: 6.5rem;
}

#peliculas{
    width:60vW}


#horarios{
    width:60vw;
}

#titulo {
    margin-left: 2rem;
    margin-top:5px;
}

footer {
    height: 24rem;
}

.footer-registro {
    display: none
}
 
article{
    width:13rem;
}

.detalle-main{
    width: 72vw;
}

.contenedor-detalle-4 {
    width: 100%;
}

/* .contenedor-detalle-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;     
}

.contenedor-detalle-2 {
    display: flex;
    align-items: flex-start;
    width: 50%;
}

.contenedor-detalle-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.contenedor-detalle-3 h2 {
    text-align:center;
    padding: 3px;
    margin-bottom: 10px;   
}

.contenedor-detalle-4{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

.boton-detalle{
    margin: 10px auto;
}

.lateral {
    order: -1;
    flex-direction: column;
    align-self: flex-end;
    align-content: center;
    width: 25%;
    height: 80%; 
    box-sizing: border-box;
}

.carrito1 {
    order: -2;
    width: 70%;
    height: 35vh;
}
  
.carrito-miniatura {    
    order: -1;
}   
  
.cuadrilla {
    position: absolute;
    top: 450px;
}
  
.carrito1, .cuadrilla {
    width: 50%;
    align-items: flex-start;
  }

.miniatura-imagen-pelicula, .contenedor-miniatura-informacion {
    width: 50%;
} */
}

@media(min-width:1200px) {

.contenedor1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 66vw;
}

#titulo {
    margin-left: 10rem;
}

.detalle-main{
    width: 60vw;
}
}