*{
    margin: 0 auto;
    font-family: "Noto Sans JP";
    /* border: 1px grey solid; */
    box-sizing: border-box;
}


.fa-instagram-square{
    color: white;
    font-size: 1.5rem;
    margin:0.2rem;
    text-align: right;
}

.fa-facebook-square{
    color: white;
    font-size: 1.5rem;
    margin:0.2rem;
    text-align: right;  
}

.fa-twitter-square{
    color: white;
   font-size: 1.5rem;
   margin:0.2rem;
  
}

body {
    background-color: black;
    width:90vw;
    
}

header {
   height: 21.5rem;
   background-color: black;
   width:90vw;
   margin: 0 auto;
}


#nav {
    background-color: black;
    height: 5.5rem;
    text-align: left;
    display:flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 33%;
    height: 100%;
    background-color: black;
    margin:0 auto;  
    box-sizing: border-box; 
    flex-grow: 1; 
}

.fa-bars{
    color:whitesmoke;
    font-size: 2rem;
    
    background-color:black;
    border-radius:100%;
    flex-grow:1; 
    width:10%;
    text-align:center;    
}

.fa-user-circle{
    color: white;
    font-size: 1.2rem;
}

.fa-search{
    color: white;
    font-size: 1.2rem; 
}

#circle{
    display:flex;
    align-items: end;
}

#carrousel{
    background-color:black;
    height: 85%;
    width: 100%;
    box-sizing: border-box;
}



main {
    margin-top: 1.5rem;
    background-color:black;
    width: 90vw;
}

#titulo{
    color: grey;
    margin-left: 3.1rem;
    margin-bottom: 1.5rem;
    font-size:110%;
}

.peliculas{
    width:65%;
    height: 65%;
}

#peliculas{
    color: rgba(255, 255, 255, 0.527);
    background-color:black;
    width: 90vw;
    margin:5px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 100;
}

#horarios{
    color: rgba(255, 255, 255, 0.527);
    background-color:black;
    width: 90vw;
    margin:5px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 100;
}



article {
    display: inline-block;
    margin:5px;
    width:90vw;
    text-align: center;
    background-color:black;
    margin:0 auto;
    margin-bottom: 40px;
}

h4 {
    color: white;
    text-align: center;
    font-size: 85%;
}

h3 {
    color:black;
    background-color:white;
    width: 65%;
    font-size:75%;
}

h2 {
    color:black;
    background-color: white;
    width: 65%;
    }
    
ul{
    color: white;
    list-style-type: none;
    }    
ul li{
    margin-top:7px;
    text-align: left;
    }    
ul strong{
       margin-right: 10px;
    }
.sinopsis{
    color: white;
    margin:7vw;
    text-align: left;
    text-align: justify;
  text-justify: inter-word;
}
#menu{
    text-align: center;
    background-color: black;
}

#contenedor{
    display:flex;
    justify-content: flex-end;
    margin:0.1rem;
    background-color: #10acc7b7;
}

#contenedor4{
    display:flex;
    justify-content: flex-end;
    flex-grow: 1;
    width:33%;
}

#centrar{
    text-align: center;
    height: 50%;
    background-color:black;
}


#logo1{
    width:33%;
    margin:1px;
}

#margin{
    margin:3px;
}

footer i{
    color: white;
    background-color:black;
}

footer p{
    color: white;
    background-color:black;
    font-weight: 100;
}

footer h5{
    color: white;
    background-color:black;
    font-weight: 50;
}

footer{
    height: 32rem;
    background-color: black;
}

#complejos{
    background-color: black;
    text-align: center;
}

footer img{
    flex-grow: 1;
}

#footer-container{
    margin-top: 2rem;
    display:flex;
    justify-content: space-between;
    flex-grow: 0.5;
    align-items:flex-end;
}

#footer-container3{
    display:flex;
    justify-content: flex-end;
    flex-grow: 30;
    align-items: flex-end;
   
}



#logo1{
    flex-grow: 0.25
}

#cierre{

    margin-top: 15px;
    background-color:#10acc7b7;
    width:100%;
    /* text-align: justify; */
    display:flex;
    justify-content: space-between;
}

#p {
    background-color:transparent;
    color:black;
    font-weight: 300;
}
/*.contenedor2{
    /* display:flex; 
}


.contenedor1{
    display:flex;
}*/
.cuadrilla{
display: flex;
  width: 50%;
  box-sizing: border-box;
  border: solid #5B6DCD 10px;
  margin: 2px;
  background-color:grey;



@media(min-width:768px){
    #footer-container2{display:flex;
        justify-content: center;
        flex-grow: 1;
        align-items: flex-start;}
    .contenedor1{display:flex;
    flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;}
.peliculas{height:20rem;
width:12rem}
h3, h4{
    width:12rem;
}
    .contenedor2{display:content}
    .contenedor3{display:content}
    .contenedor4{display:content}
    .contenedor5{display:content}
    .contenedor6{display:content}
    .contenedor7{display:content}
    header{width:80vw;}
    #peliculas{width:80vW}
    #horarios{width:80vw;}
    footer {height: 24rem;}
    article{
        width:13rem;
    }
}

/*@media(min-width: 761px){
    .contenedor1{display:flex;
    flex-wrap: nowrap;}
    #carrousel{height: 100%;}
    #footer-container2{display:flex;
    align-items: center;}
    #complejos{flex-grow: 1;}
}*/
}