<header>
    <div id="contenedor">
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
    </div>
    <div id="nav">
       
      <a href="http://localhost:3031/" id="logo3"><img  id="logo" src="\Images\logo-1.png" alt="" ></a>
        
        <i class="fas fa-bars"></i>
    
        
            <% if (locals.isLogged) { %>
            <div  >
                <div class="dropdown1" >
                    <div class="dropdown">
                    <button class="dropbtn"><img id="avatar" src="\Images\Users\<%= locals.usuarioLogueado.image%>" alt=""> Hola, <%= locals.usuarioLogueado.first_name%>!</button>
                    <div class="dropdown-content">
                      <a href="http://localhost:3031/usuarios/perfil">Mi perfil</a>
                      <a href="http://localhost:3031/usuarios/logout">Cerrar sesión</a>
                    </div>
                </div>
                        <div id="cont3">
                            <div><i class="fas fa-search"></i></div>
                                <div><a href="http://localhost:3031/productos/carrito"><i class="fas fa-shopping-cart"></i></a></div>
                        </div>
                </div>
            </div>
                    <div id="cont2">
                    <div id="cont4"><p>Hola, <%= locals.usuarioLogueado.nombre%>!</p></div>
                    <div><i class="fas fa-search"></i></div>
                    <div><a href="http://localhost:3031/productos/carrito"><i class="fas fa-shopping-cart"></i></a></div>
                    </div>
            
                
        
            
            <% } else { %>
            <div id="contenedor4">
            <div id="cont1" ><a href="http://localhost:3031/usuarios/login"> <i class="far fa-user-circle"></i></a></div>
            <div><i class="fas fa-search"></i></div>
            <div><a href="http://localhost:3031/productos/carrito"><i class="fas fa-shopping-cart"></i></a></div>
            </div>
            <%}%>
            
        </div>

       
    
        <ul class="nav2">
            <a href="http://localhost:3031/#titulo"><li>PELICULAS</li></a>
            <a href="http://localhost:3031/#complejos"><li>COMPLEJOS</li></a>
            <li>CONTACTO</li>
            <li>CINE CLUB</li>
        </ul>

   
    <p id="centrar">
        <img id="carrousel" src="\Images\carrousel-1.png" alt="">

       
    </p>
    <select name="película" id="peliculas">
        <option value="OPCION-1" selected>SELECIONA LA PELICULA</option>
        <option value="pelicula-1">RIO MISTICO</option>
        <option value="pelicula-2">EN EL NOMBRE DEL PADRE</option>
        <option value="pelicula-3">PANDILLAS DE NEW YORK</option>
        <option value="pelicula-4">21 GRAMOS</option>
        <option value="pelicula-5">EL ORIGEN</option>
        <option value="pelicula-6">CADENA DE FAVORES</option>
        <option value="pelicula-7">EL PADRINO</option>
        <option value="pelicula-8">EL PADRINO - 2DA PARTE</option>
        <option value="pelicula-9">EL PADRINO - 3RA PARTE</option>
        <option value="pelicula-10">PERFUME DE MUJER</option>
        <option value="pelicula-11">GLADIADOR</option>
        <option value="pelicula-12">EL CLUB DE LA PELEA</option>
    </select>
    <select name="horario" id="horarios">
        <option value="OPCION-2" selected>SELECCIONA EL HORARIO</option>
        <option value="horario-1">9:30 hs</option>
        <option value="horario-2">13:00 hs</option>
        <option value="horario-3">16:30 hs</option>
        <option value="horario-4">19:00 hs</option>
        <option value="horario-5">21:30 hs</option>
        <option value="horario-6">23:00 hs</option>
    </select>
</header>