<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la pelicula</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/CSS/home.css">    
</head>
<body>
    <header>  
        <div id="contenedor">      
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
        <div id="nav">
        <img id="logo" src="\Images\logo-1.png" alt="">
        <i class="fas fa-bars"></i>
        <div id="contenedor4">
        <i class="far fa-user-circle"></i>
        <i class="fas fa-search"></i></div>
        </div>
        </div>
        <p id="centrar">
        <img id="carrousel" src="\Images\carrousel-4.jpg" alt="">
        </p>
        <select name="película" id="peliculas">
            <option value="OPCION-1" selected>SELECIONA LA PELICULA</option>
            <option value="pelicula-1">RIO MISTICO</option>
            <option value="pelicula-2">EN EL NOMBRE DEL PADRE</option>
            <option value="pelicula-3">PANDILLAS DE NEW YORK</option>
            <option value="pelicula-4">21 GRAMOS</option>
            <option value="pelicula-5">EL ORIGEN</option>
            <option value="pelicula-6">CADENA DE FAVORES</option>
            <option value="pelicula-7">EL PADRINO</option>
            <option value="pelicula-8">EL PADRINO - 2DA PARTE</option>
            <option value="pelicula-9">EL PADRINO - 3RA PARTE</option>
            <option value="pelicula-10">PERFUME DE MUJER</option>
            <option value="pelicula-11">GLADIADOR</option>
            <option value="pelicula-12">EL CLUB DE LA PELEA</option>
        </select>
        <select name="horario" id="horarios">
            <option value="OPCION-2" selected>SELECCIONA EL HORARIO</option>
            <option value="horario-1">9:30 hs</option>
            <option value="horario-2">13:00 hs</option>
            <option value="horario-3">16:30 hs</option>
            <option value="horario-4">19:00 hs</option>
            <option value="horario-5">21:30 hs</option>
            <option value="horario-6">23:00 hs</option>
        </select>
    </header>
    <main>
        <p id="titulo">DETALLE DE LA PELICULA</p>
        <div class="contenedor1">
        <div class="contenedor2">
        <article>
            <img class="peliculas" src="\Images\pelicula-1.jpg" alt="">
            <h2>RIO MISTICO</h2>
            <br>
            <div>
            <ul>
                 <li><strong>Título original:</strong> Mystic River </li>   
                 <li><strong>Orígen:</strong> USA </li>
                 <li><strong>Género:</strong> drama/policial </li>
                 <li><strong>Director:</strong> Clint Eastwood </li>
                 <li><strong>Actores:</strong> Sean Penn, Tim Robbins, Kevin Bacon, Laura Linney </li>
                 <li><strong>Calificación:</strong> SAM 13 C/R</li>
                 <li><strong>Duración:</strong> 137 minutos </li>
                 
            </ul>
          
            <div class="sinopsis">
                <strong> Sinopsis:</strong> Los viejos amigos de la infancia Jimmy, Sean y Dave se reencuentran 
                de adultos tras el asesinato de la hija de uno de ellos. Las rencillas del pasado envenenan la
                 investigación que, de forma paralela a la policía, llevan para hallar al asesino.
            </div>
            </div>

        </article>
              </div>

            </main>
    <footer>
        <section> 
        <div id="complejos">
        <div class="div-ubi">
        <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="div-dire">
        <p>COMPLEJO COSTA SALGUERO</p>
        <h5>Av. Costanera Rafael Obligado 1221, CP1425 CABA</h5>
        </div>
        </div>
        </section>
        <br>
        <section> 
            <div id="complejos">
            <div class="div-ubi">
            <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="div-dire">
            <p>COMPLEJO DOT BAIRES SHOPPING</p>
            <h5>Vedia 3600, CP1430 CABA</h5>
            </div>
            </div>
            </section>
            <br>
            <section> 
                <div id="complejos">
                <div class="div-ubi">
                <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="div-dire">
                <p>COMPLEJO UNICENTER</p>
                <h5>Paraná 3745, CP1640, Martinez, Buenos Aires</h5>
                </div>
                </div>
                </section>
                <br>
                <section> 
                    <div id="complejos">
                    <div class="div-ubi">
                    <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="div-dire">
                    <p>COMPLEJO AV. CORRIENTES</p>
                    <h5>Av. Corrientes 1428, CP1042, CABA</h5>
                    </div>
                    </div>
                    </section>
        <div id="footer-container">
        
        <img id="logo1" src="\Images\logo-1.png" alt="">
        
        <div id="footer-container2">
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i> 
        </div>
        </div>
        <div id="cierre">
            <p id="p">©Cinema Paradiso</p>
            <p id="p">Grupo_8_Cine </p>
        </div>
    </footer>
</body>
</html>