<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head')%>




<body class="body3">
    <span class="header-registro"><%-include ('../partials/header')%></span>
    
    <div>
        <a href="http://localhost:3031/"><img id="logo-registro" src="\Images\logo-1.png" alt=""></a>

    </div>
    <form action="/productos" method="POST" id=form-registro enctype="multipart/form-data">
        <div class="form">

            <h1>CREAR PRODUCTO</h1>
            <div class="grupo">
                <input type="text" name="name" id="name" required><span class="barra"></span>
                <label for="">Nombre película</label>
            </div>
            <div class="grupo">
                <input type="file" name="imagen" id="name" required><span class="barra"></span>
                <label for="" id="imagen1">Imagen película</label>
            </div>
            <div class="grupo">
                <input type="text" name="origen" id="name" required><span class="barra"></span>
                <label for="">Origen</label>
            </div>
            <div class="grupo">
                <input type="text" name="genero" id="name" required><span class="barra"></span>
                <label for="">Genero</label>
            </div>
            <div class="grupo">
                <input type="text" name="director" id="name" required><span class="barra"></span>
                <label for="">Director</label>
            </div>
            <div class="grupo">
                <input type="text" name="actores" id="name" required><span class="barra"></span>
                <label for="">Actores</label>
            </div>
            <div class="grupo">
                <input type="text" name="calificacion" id="name" required><span class="barra"></span>
                <label for="">Calificación</label>
            </div>
            <div class="grupo">
                <input type="text" name="duracion" id="name" required><span class="barra"></span>
                <label for="">Duración</label>
            </div>
            <div class="grupo">
                <input type="text" name="sinopsis" id="name" required><span class="barra"></span>
                <label for="">Sinopsis</label>
            </div>
            <button class="button2" type="submit">Crear</button>

        </div>


    </form>
    <span class="footer-registro"><%-include ('../partials/footer')%></span>
</body>

</html>